@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    position: relative;
    z-index: 1;
    min-height: 100%;
    width: 100%;
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    color: #797979;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 100px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 130px;
    z-index: 3;
    padding-top: 16px;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
.site__footer-layout {
    width: 100%;

    height: 100px;
    background: blue;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 44px;
    left: 13px;
    z-index: 3;
}
.logo img{
    width: 235px;
    height: 33px;
}
/* --------------- /logo --------------- */
.site__title{
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 22px;
}
.site__title>span{
    position: relative;
    display: block;
    height: 1px;
    background: #26aed7;
    margin: 0 auto 22px;
}
.site__title>span>span{
    position: absolute;
    display: block;
    top: -10px;
    left: 50%;
    margin-left: -14px;
    width: 28px;
    height: 12px;
    background: #fff;
}
.site__title>span>span:before,
.site__title>span>span:after{
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    width: 18px;
    height: 18px;
    border: 1px solid #26aed7;
    border-radius: 50%;
}
.site__title>span>span:after{
    top: 5px;
    left: 9px;
    width: 8px;
    height: 8px;
}
.capabilities__item{
    display: inline-block;
    vertical-align: top;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #797979;
    padding: 5px 16px 0 42px;
    margin-bottom: 31px;
}
.capabilities__item span{
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    margin-bottom: 13px;
}
.container{
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}
.site__header .feedback a {
    color:#000;
    font-size: 16px;
    letter-spacing: -0.2px;
}
.site__header .feedback a.phone{
    font-weight: 700;
    margin-left: 13px;
}
.site__header .feedback a.email{
    text-decoration: underline;
}
.site__header .feedback a:hover{
    text-decoration: none;
}
/* ------------ header__menu ----------- */
.navbar-collapse.in {
    overflow-y: hidden;
}
.navbar .navbar-collapse {
    background-color: #fff;
    border-top: none;
}
.navbar-default .navbar-toggle {
    margin: 3px 15px;
    padding: 8px 4px;
    border: none;
    background-color: #1dafed;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    width: 40px;
    height: 3px;
    border-radius: 5px;
    margin-bottom: 11px;
}
.navbar-toggle .icon-bar:last-child{
    margin-bottom: 0;
}
.navbar{
    position: absolute;
    top: 34px;
    right: -2px;
    width: 100%;
    height: 47px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    text-align: center;
    background: #fff;
}
.navbar .navbar-collapse{
    margin: 0 auto;
}
.navbar-default .navbar-nav > li > a{
    position: relative;
    display: inline-block;
    padding: 14px 9px 15px 0;
    font-size: 16px;
    color: #1cacec;
    z-index: 9;
    transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    outline: none;
    letter-spacing: -1px;
}
.navbar-default .navbar-nav > li > a.active:hover{
    opacity: 1;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#1cacec;
    opacity: 0.7
}
.navbar-default .navbar-nav > li > a:before{
    position: absolute;
    bottom: 4px;
    content: "";
    width: 100%;
    height: 6px;
    border-top: 1px solid #1cacec;
    border-bottom: 1px solid #1cacec;
    transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    opacity: 0;
    z-index: -1;

}
.navbar-default .navbar-nav > li > a:hover:before{
    opacity: 1;
}
.navbar-default .navbar-nav > li > a.active:before{
    opacity: 1;
}
.navbar-default .navbar-toggle:focus{
    background-color: #1cacec;
}
.navbar-default .navbar-toggle:hover {
    opacity: 0.7;
    background-color: #1cacec;
}
/* ----------- /header__menu ----------- */

/* ----------- promo-slide ----------- */
.promo-slide{
    height: 411px;
    margin-bottom: 34px;
}
.promo-slide .carousel-inner > .item > img {
    top: auto;
    left: 50%;
    margin-left: -11%;
    bottom: 53px;
    height: 167px;
    min-width: 100px;
}
.promo-slide .item {
    height: 411px;
    background-color: #163849;
}
.promo-slide .carousel-caption {
    right: 14%;
    left: 22%;
    bottom: auto;
    text-align: left;
    padding-top: 26px;
}
.promo-slide h1{
    font-size: 24px;
    font-weight: 100;
}
.promo-slide p{
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}
.promo-slide h1>span{
    position: relative;
    display: block;
    height: 1px;
    background: #26aed7;
    margin: 25px auto 24px;
}
.promo-slide h1>span>span{
    position: absolute;
    display: block;
    top: -9px;
    left: -5px;
    width: 28px;
    height: 12px;
    background: #163849;
}
.promo-slide h1>span>span:before,
.promo-slide h1>span>span:after{
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    width: 18px;
    height: 18px;
    border: 1px solid #26aed7;
    border-radius: 50%;
}
.promo-slide h1>span>span:after{
    top: 5px;
    left: 9px;
    width: 8px;
    height: 8px;
}
.promo-slide .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: #45606d;
    border: none;
}
.promo-slide .carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: #8b9ca4;
}
.promo-slide .carousel-control{
    top: 50%;
    margin-top: -36px;
    left: 15px;
    width: 36px;
    height: 70px;
    background-color: #0f2733;
    border-radius: 3px;
    opacity: 1;
    transition: opacity .3s ease;
}
.promo-slide .carousel-control.right {
    right:15px;
    left: auto;
}
.promo-slide .glyphicon-chevron-right:before {
    position: absolute;
    content: "";
    right: -13px;
    width: 16px;
    height: 30px;
    background: url("../img/slider-promo-next.png")no-repeat center;
    background-size: contain;
}
.promo-slide .glyphicon-chevron-left:before {
    position: absolute;
    content: "";
    left: 0;
    width: 16px;
    height: 30px;
    background: url("../img/slider-promo-prev.png") no-repeat center;
    background-size: contain;
}
.promo-slide .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -10px;
}
.promo-slide .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    top: 50%;
    margin-top: -15px;
}
.promo-slide .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: 5px;
}
.promo-slide .carousel-control:hover{
    opacity: .7;
}
/* ----------- /promo-slide ----------- */

/* ----------- reviews-slide ----------- */
.reviews{
}
.reviews-slide{
    height: 571px;
    margin-bottom: 40px;
}
.reviews-slide p{
    position: relative;
    background-color: #26aed7;
    border-radius: 5px;
    line-height: 18px;
    padding: 12px 15px 13px 14px;
    margin-bottom: 28px;
    letter-spacing: -1.2px;
    color: #fff;
}
.reviews-slide p:before{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(163, 163, 163, 0);
    border-top-color: #26aed7;
    border-width: 11px 13px 0 12px;
}
.reviews-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #26aed7;
    margin: 0 auto 22px;
    padding: 5px;
}
.reviews-pic div{
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-position: top center;
    border-radius: 50%;
}
.reviews-name{
    display: block;
    font-size: 24px;
    color: #000;
    font-weight: 300;
    text-align: center;
    margin-bottom: 13px;
}
.reviews-position{
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}
.reviews-slide .carousel-indicators li {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 1px 8px 1px 8px;
    background-color: #c0c8c5;
    border: none;
}
.reviews-slide .carousel-indicators .active {
    width: 11px;
    height: 11px;
    margin: 1px 5px;
    background-color: #26aed7;
}
.reviews-slide .carousel-caption {
    right: 3%;
    left: 6%;
    bottom: auto;
    text-align: left;
    padding-top: 0;
}
.reviews-slide .item {
    height: 571px;
    background-color: #fff;
}
/* ----------- /reviews-slide ----------- */

@media (min-width: 768px){

    .site__header {
        position: relative;
        height: 111px;
        padding-top: 7px;
    }
    .site__title {
        font-size: 31px;
        margin-bottom: 28px;
    }
    .site__title>span {
        width: 396px;
    }
    .capabilities ul{
        padding-left: 40px;
    }
    .navbar-default .navbar-nav > li{
        margin-left: 68px;
    }
    .navbar-default .navbar-nav > li:first-child{
        margin-left: 0;
    }

    /* ----------- logo ----------- */
    .logo {
        top: 0;
        left: 10px;
    }
    .logo img {
        width: 275px;
        height: 42px;
    }
    /* ----------- /logo ----------- */

    /* ----------- feedback ----------- */
    .feedback{
        float: right;
        padding-top: 20px;
    }
    .feedback a.phone {
        margin-left: 30px;
        letter-spacing: 0;
    }
    /* ----------- /feedback ----------- */
    .navbar {
        top: 45px;
    }

    /* ----------- reviews ----------- */
    .reviews-slide {
        height: 489px;
        margin-bottom: 25px;
    }
    .reviews-slide .item {
        height: 450px;
    }
    .reviews-slide .carousel-caption {
        right: 2.5%;
        left: 2.5%;
    }
    .reviews-slide p {
        line-height: 24px;
        font-weight: 300;
        padding: 16px 15px 17px 14px;
        margin-bottom: 30px;
        letter-spacing: -1.5px;
    }
    /* ----------- /reviews ----------- */
}
@media (min-width: 1024px){
    .capabilities ul{
        padding-left: 0;
    }
    .capabilities__item {
    }
    .navbar-nav {
        float: right;
    }
    .navbar-default .navbar-nav > li {
        margin-left: 48px;
    }

    /* ----------- logo ----------- */
    .logo {
        top: 40px;
        left: 10px;
    }
    /* ----------- /logo ----------- */
}
